{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "crlf",
    "jsxSingleQuote": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5"
  }